*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

body {
    margin: 0;
}

a {
    background-color: transparent;
    color: #4a5568;
    text-decoration: none;
    align-items: center;
}

svg {
    display: block;
    vertical-align: middle;
}

main {
    background-color: #f7fafc;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #e3000e;
    height: 2px;

    animation: loading-bar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #a0aec0;
    margin: 1rem;
}

.logo {
    height: 200px;

    animation-name: shade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.wrapper {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

@keyframes shade {
    from, to {
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
    }

    50% {
        -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
    }
}

@keyframes loading-bar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    main {
        background-color: #1a202c
    }

    a {
        color: inherit;
    }
}
